{% include "heuresis/prompts/common/executor_guidelines.j2" %}

{% include "heuresis/tasks/nanogpt/prompts/executor_task.j2" %}

{% include "heuresis/prompts/common/shared_memory_executor.j2" %}

{% include "heuresis/prompts/common/executor_tools.j2" %}
